body {
    background-color: black;
    font-family: "poppins", sans-serif;
    text-align: center;
}

nav {
    margin-right: 20px;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    
}

nav ul li {
    color: white;
    
    list-style: none;

}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.upper-middle {
    display: inline-flex;
    
    margin-top: 100px;
}

.upper-right-section {
    line-height: 20px;
    margin-right: 10px;
}

.upper-right-section h3 > img {
    height: 40px;
}


.upper-right-section > h3 {
    color: #fff;
    font-size: 30px;

}

.upper-right-section > h1 {
    color: #fff;
    font-size: 50px;
    margin: 0;

}

.upper-right-section > p {
    color: #ffff00;
    font-size: 30px;
    font-weight: 400;
    
}



.image-pc > img {
    height: 200px;

}



/* main section styling  */

h2 {
    color: white;
    font-size: 20px;
    font-weight: 400;
}

main {
    display: grid;
    grid-template-columns: 230px 230px;
    justify-content: center;
    
}

main div {
    color: #fff;
    width: 200px;
    
    
}

main div > img {
    height: 200px;
    width: 200px;
}

/* footer styling  */


footer div h2 {
    color: #fff;
    text-decoration: underline;
    text-decoration-color: #00a6ff;
    text-decoration-thickness: 6px;
    
    

}

footer ul {
    display: flex; 
    gap: 10px;
    justify-content: center;
    align-items: center;

}

footer ul li a > img {
    height: 30px;
}



/*  mobile responsive design  */

@media screen and (max-width: 600px) {

    /* mobile navbar headers  */

    nav {
        display: none;

    }

    .upper-middle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 15px;
    }
    .upper-right-section > h1 {
        color: #fff;
        font-size: 35px;
        line-height: 10px;
        margin: 0;
    
    }

    .upper-right-section h3 > img {
        height: 20px;
        width: 20px;
    }

    main {
        display: grid;
        grid-template-columns: 40%;
    }
    main div {
        height: 170px;
        width: 150px;
    }
    main div > img {
        height: 150px;
        width: 150px;
    }


    footer ul li a > img {
        height: 30px;
    }
}

